body {
  color: #d6e0fa;
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.img {
  width: 100%;
}
h2 {
  color: #00ffaf;
  font-size: 2.5rem;
}
.big-bg {
  background-image: url("https://yoshihiro-satou.github.io/portfolio/image/AI高層マンション.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
}

.header-nav{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  backdrop-filter: blur(5px);
}
.logo {
  height: 40px;
}
.nav-toggle {
  display: none;
}
.close-nav {
  display: none;
}

.nav-toggle-label {
  display: none;
  cursor: pointer;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}
nav ul li a {
  color: #00ffaf;
  text-decoration: none;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.slide-1 {
  display: inline-block;
  position: relative;
  animation: clip-text .5s ease-in-out forwards;
  line-height: 1;
  font-size: 10vw;
  max-width: 100%; 
  white-space: nowrap; 
  color: #c6c9efa3;

  &::before {
    content: "WELCOME";
    color: #7a84eca3;
    display: block;
    background-color: #000;
    position: absolute;
    inset: 0;
    animation: clip-over .5s ease-in-out forwards;
    animation-delay: .5s;
  }
}
.slide-2 {
  display: inline-block;
  position: relative;
  animation: clip-text 1.5s ease-in-out forwards;
  line-height: 1;
  font-size: 10vw;
  max-width: 100%; 
  white-space: nowrap; 
  color: #c6c9efa3;
  
  &::before {
    content: "MY WEBSITE.";
    color: #7a84eca3;
    display: block;
    background-color: #000;
    position: absolute;
    inset: 0;
    animation: clip-over .5s ease-in-out forwards;
    animation-delay: 1s;
  }
  &::after {
    content:".";
    animation: blinking 1.4s infinite linear
  }
}
@keyframes blinking {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  to { 
    opacity: 0;
  }
}
@keyframes clip-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes clip-over {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 100%);
  }
}
.sub-title {
  opacity: 0;
  font-size: clamp(1rem, 4vw, 4vw);
  text-align: center;
  color: #c6c9efa3;
  animation: excited 1s ease-in-out forwards;
  animation-delay: 1.5s;
}
@keyframes  excited {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}
#about {
  padding: 80px 0;
  background-color:  rgba(0, 0, 0, 0.2);
}

.container {
  padding: 50px 0 80px 0;
  max-width: 1120px;
  margin: 0 auto;
 
}
.about-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-pic {
  flex-basis: 30%;
  text-align: center;
}

.profile-pic img {
  border-radius: 50%;
  object-fit: cover;
}
.roll-in-blurred-left {
	-webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.8s both;
	        animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.8s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-12-20 20:33:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.intro {
  flex-basis: 65%;
}
.puff-in-left {
	-webkit-animation: puff-in-left 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0.8s both;
	        animation: puff-in-left 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0.8s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-12-20 20:41:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-left {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-left {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

#Self-introduction{
  margin-bottom: 20px;
}
.section-title {
  padding-bottom: 80px;
  text-align: center;
}

.intro p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.more-btn {
  display: none;
}
.card {
  box-sizing: border-box;
  width: 24%;
  height: 380px;
  background:  rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(234,52,88,0.65);
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
}

.card:hover {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(234,52,88,0.65);
  box-shadow:0px 0px 16px 12px rgba(234,52,88,0.65);
-webkit-box-shadow:0px 0px 16px 12px rgba(234,52,88,0.65);
-moz-box-shadow:0px 0px 16px 12px rgba(234,52,88,0.65);
  transform: scale(1.05);
  fill: rgba(234,52,88,0.65);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
.card-img {
  fill: #00ffaf9e;
  width: 70%;
  height: 50%;
}
.card h3 {
  padding: 15px 0;
  color: white;
}
.card ul {
  padding-bottom: 10px;
}
.card li {
  font-size: 0.9rem;
  padding: 3px 10px;
  text-align: start;
  color: #c6c9ef;
}
.fade-in-top {
	-webkit-animation: fade-in-top 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2024-12-18 20:27:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
#message {
  background-color:  rgba(0, 0, 0, 0.2);
}
.message-flex {
  display: flex;
  justify-content: center;
}
#section-message h2 {
  color: #00ffaf;
  font-size: 2.5rem;
  padding-bottom: 80px;
  text-align: center;
}
.message-content {
  width: 40%;
}
.message-content h3 {
  font-size: 1.5rem;
  padding: 20px;
}
.message-content p {
  padding: 10px;
  font-size: 1.2rem;
}
.bounce-in-bck {
	-webkit-animation: bounce-in-bck 1.1s both;
	        animation: bounce-in-bck 1.1s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-12-20 20:53:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-bck
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-bck {
  0% {
    -webkit-transform: scale(7);
            transform: scale(7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(1.24);
            transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-bck {
  0% {
    -webkit-transform: scale(7);
            transform: scale(7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(1.24);
            transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.message-image {
  width: 40%;
}
.vibrate-1 {
	-webkit-animation: vibrate-1 0.6s linear infinite both;
	        animation: vibrate-1 0.6s linear infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-12-20 20:48:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
#contact {
  text-align: center;
} #contact p {
  padding-bottom: 50px;
}
#x-icon a{
  display: inline-block;
  width: 220px;
  height: 220px;
  background-color: #ffffff59;
  border-radius: 30px;
  margin-bottom: 30px;
}
.footer {
  text-align: center;
}

@media screen and (max-width: 767px) {
  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .logo {
    height: 30px;
  }
  .nav-toggle-label {
      display: block;
      padding: 1rem;
  }
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
      display: block;
      background: #00ffaf;
      height: 2px;
      width: 2rem;
      position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
      content: '';
      position: absolute;
  }

  .nav-toggle-label span::before {
      bottom: 7px;
  }

  .nav-toggle-label span::after {
      top: 7px;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: rgba(198, 201, 239, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
  }

  .close-nav {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
  }

  .nav-toggle:checked ~ nav {
    transform: translateY(0);
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  nav ul li {
    margin: 1rem 0;
  }

  nav ul li a {
    font-size: 1.5rem;
    color: #333; 
  }
 .about-flex {
  flex-direction: column;
 }
 .profile-pic {
  width: 50%;
  margin-bottom: 10%;
 }
 .intro {
  width: 80%;
 }
 .cards {
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .card {
  width: 80%;
  margin-bottom: 7%;
 }
 .details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out, padding 0.5s ease-out;
  opacity: 0;
  padding: 0;
}
.more-btn {
  display: inline-block;
  color: #000;
  background-color: #00ffaf;
  border-radius: 20px;
  width: 30%;
  position: relative;
  padding-right: 5%;
   /* 矢印のためのスペース */
}

.more-btn::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  width: 8px;
  height: 8px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: translateY(-50%) rotate(45deg);
  transition: transform 0.3s ease;
}

.more-btn:hover::after {
  transform: translateY(-50%) rotate(45deg) translate(3px, -3px);
}

.details.open {
  max-height: 500px;
  opacity: 1;
  padding: 10px 0;
}
 .message-flex {
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .message-content {
  width: 80%;
 }
 .message-image {
  width: 80%;
 }
 #x-icon a{
  display: inline-block;
  width: 130px;
  height: 130px;
  background-color: #ffffff59;
  border-radius: 30px;
  margin-bottom: 30px;
}
}
